<?xml version="1.0" encoding="UTF-8"?>
<!--

Copyright © 2014-2017 Jeremy Herbison

This file is part of PowerShell Audio.

PowerShell Audio is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General
Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
later version.

PowerShell Audio is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
details.

You should have received a copy of the GNU Lesser General Public License along with PowerShell Audio.  If not, see
<http://www.gnu.org/licenses/>.

-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Bundle Name="PowerShell Audio" IconSourceFile="Logo.ico" Version="1.2.0" Manufacturer="Jeremy Herbison" UpgradeCode="{7D38656D-6BE6-4972-A9DB-7B4AF7BCC880}">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkSidebarLicense">
      <bal:WixStandardBootstrapperApplication LicenseUrl="http://www.gnu.org/licenses/lgpl.html" LogoFile="Logo.png" LogoSideFile="LogoSide.png" ShowVersion="yes" SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>
    <bal:Condition Message="This application requires a minimum of Windows 7 or Server 2008 R2 with Service Pack 1.">
      <![CDATA[Installed OR (VersionNT = v6.1) OR (VersionNT >= v6.3)]]>
    </bal:Condition>
    
    <util:RegistrySearch Variable="PSVersion" Root="HKLM" Key="SOFTWARE\Microsoft\PowerShell\3\PowerShellEngine" Value="PowerShellVersion" Result="value" />
    <util:RegistrySearch Variable="VCRedist_x86" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\vc\Servicing\14.0\RuntimeMinimum" Value="Version" Result="value" />
    <util:RegistrySearch Variable="VCRedist_x64" Win64="yes" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\vc\Servicing\14.0\RuntimeMinimum" Value="Version" Result="value" />

    <Chain>
      <PackageGroupRef Id="NetFx46Web" />
      
      <MsuPackage DisplayName="Windows Management Framework 5.1"
                  KB="KB3191566"
                  Permanent="yes"
                  SourceFile="Win7-KB3191566-x86.msu"
                  InstallCondition="VersionNT=v6.1 AND NOT VersionNT64"
                  DetectCondition="PSVersion&gt;=v5.1" />
      <MsuPackage DisplayName="Windows Management Framework 5.1"
                  KB="KB3191566"
                  Permanent="yes"
                  SourceFile="Win7AndW2K8R2-KB3191566-x64.msu"
                  InstallCondition="VersionNT=v6.1 AND VersionNT64"
                  DetectCondition="PSVersion&gt;=v5.1" />
      
      <ExePackage DisplayName="Microsoft Visual C++ 2017 Redistributable (x86)"
                  InstallCommand="/quiet /norestart"
                  Protocol="burn"
                  Permanent="yes"
                  SourceFile="vc_redist.x86.exe"
                  DetectCondition="VCRedist_x86&gt;=v14.10.25008" />
      <ExePackage DisplayName="Microsoft Visual C++ 2017 Redistributable (x64)"
                  InstallCommand="/quiet /norestart"
                  Protocol="burn"
                  Permanent="yes"
                  SourceFile="vc_redist.x64.exe"
                  InstallCondition="VersionNT64"
                  DetectCondition="VCRedist_x64&gt;=v14.10.25008" />
      
      <MsiPackage SourceFile="$(var.Setup.TargetPath)" />
      <MsiPackage SourceFile="$(var.Setup64.TargetPath)"
                  InstallCondition="VersionNT64" />
		</Chain>
	</Bundle>
</Wix>