<?xml version="1.0" encoding="UTF-8"?>
<!--

Copyright © 2014 Jeremy Herbison

This file is part of PowerShell Audio.

PowerShell Audio is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General
Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
later version.

PowerShell Audio is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more
details.

You should have received a copy of the GNU Lesser General Public License along with PowerShell Audio.  If not, see
<http://www.gnu.org/licenses/>.

-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <ComponentGroup Id="Wave">
      <ComponentRef Id="$(var.PowerShellAudio.Extensions.Wave.TargetFileName)" />
      <ComponentRef Id="$(var.PowerShellAudio.Extensions.Wave.TargetName).Contracts.dll" />
    </ComponentGroup>

    <DirectoryRef Id="WaveFolder">
      <Component Guid="{CE46EE22-FEE9-48B1-B9B8-2DFAF669AB73}">
        <File Source="$(var.PowerShellAudio.Extensions.Wave.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="WaveCodeContractsFolder">
      <Component Guid="{442E4761-6889-489B-97E0-C9399B59C73F}">
        <File Source="$(var.PowerShellAudio.Extensions.Wave.TargetDir)CodeContracts\$(var.PowerShellAudio.Extensions.Wave.TargetName).Contracts.dll" KeyPath="yes" Checksum="yes" />
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="ExtensionsFolder">
      <Directory Id="WaveFolder" Name="Wave">
        <Directory Id="WaveCodeContractsFolder" Name="CodeContracts" />
      </Directory>
    </DirectoryRef>
    
	</Fragment>
</Wix>